*{
	box-sizing: border-box;
}

body{
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	width: 100%;
	background-image: url("images/photo_sat.jpg");
	background-repeat: repeat-y;
	background-size: 100%;
	padding: 2%;
	margin:auto;
	font-size: 62.5%;
	max-width: 2000px;
	min-width: 300px;
}

.kolona{
	padding: 10px;
	float:left;
}

.kolona.jedan{
	width: 8.33333%;
}

.kolona.dva{
	width: 16.66666%;
}

.kolona.tri{
	width: 24.99999%;
}

.kolona.cetiri{
	width: 33.33333%;
}

.kolona.pet{
	width: 41.66666%;
}

.kolona.sest{
	width: 49.99999%;
}

.kolona.sedam{
	width: 58.33333%;
}

.kolona.osam{
	width: 66.66666%;
}

.kolona.devet{
	width: 74.99999%;
}

.kolona.deset{
	width: 83.33333%;
}

.kolona.jedanaest{
	width: 91.66666%;
}

.kolona.dvanaest{
	width: 99.99999%;
}

#header{
	float:right;
	padding-left: 0;

	/*background-color: green;*/
	
}

#header a{
	text-decoration: none;
	color:black;

}

#header a:visited, #header a:active, #header a:hover, #header a:link {
    color: black;
}

#zaglavlje{
	padding: 0;
}

#logo{
	float:left;
	padding: 5px;
	/*background-color: yellow;*/

}

.aktivan{
	opacity: 0.6;
}

#logo img{
	width:100%;
}

.meni{
	background-image: url("images/meni.png"); 
	background-repeat: repeat-x;
	background-size: 100%;
	background-position: center;
	
	/*padding-top: 1%;*/
	padding: 1%;
	padding-left: 2%;
	/*padding-right:15px;*/
	
	width:15%;
	/*float:left;*/
	margin-left: 2%;
	display: inline-block;
	font-size: 2vw;
	
	/*height: 1.8em;*/
}

.meni:hover{
	background-image: url("images/meniAktivan.png");
}


#rightbar{
	background-color: red;
}

#leftbar{
	background-color: red;
}

#vijesti img{
	width: 100%;
	position: relative;
}

h2 { 
   /*font-size: 2.2em;*/
   position: absolute; 
   top: 4%; 
   width: 70%;
   left: 4%;
   text-align: left;

}

h2 span { 
   color: white; 
   font: bold;
   font-size: 2.0em; 
   letter-spacing: -1px; 
   background: rgb(0, 0, 0);
   background: rgba(0, 0, 0, 0.7);
   box-shadow: 10px 0 0 rgba(0, 0, 0, 0.7), -10px 0 0 rgba(0, 0, 0, 0.7);

   /*padding: 10px; */
}

h3 { 
   /*font-size: 2.2em;*/
   position: absolute; 
   top: 4%; 
   width: 70%;
   left: 8%;
   text-align: left;

}

h3 span { 
   color: white; 
   font: bold;
   font-size: 1.6em; 
   letter-spacing: -1px; 
   background: rgb(0, 0, 0);
   background: rgba(0, 0, 0, 0.7);
   box-shadow: 10px 0 0 rgba(0, 0, 0, 0.7), -10px 0 0 rgba(0, 0, 0, 0.7);

   /*padding: 10px; */
}

h4{
	font-size:1.6em;
	padding-left: 2%;
}
#kontakt{
	padding-top: 0;
	/*background-color: yellow;*/
}
#malilogo{
	/*background-color: white;*/
	padding: 1px;
}
#malilogo img{
	width: 100%;
	position: relative;
}

#vijesti{
	background-color: rgba(128,128,128, 0.6);
	position: relative;
}

#mainkontakt{
	background-color: rgba(128,128,128, 0.6);
	position: relative;
}

#projekat img{
	width: 100%;
	position: relative;
	height: 200px;
}

#projekat{
	background-color: rgba(128,128,128, 0.6);
	position: relative;
}

#partner img{
	width: 100%;
	position: relative;
	transition: all 0.3s;

	/*height: 200px;*/

	/*box-shadow: 0px 10px  10px 5px rgba(0,0,0,0.5);*/
}

#partner:hover img{
	transform:scale(1.1);
	box-shadow: 0 10px 10px 5px rgba(0,0,0,0.4);
} 

#partner{
	/*background-color: rgba(128,128,128, 0.6);*/
	position: relative;
	/*box-shadow: 0 10px 10px 5px rgba(0,0,0,0.4);*/
}

/*#partner span{
	/*rgba(0,0,0,0.3)*/
  	/*opacity: 1;
  	transition: opacity 0.3s ease-in-out:
}*/
#partner div::after{
	box-shadow: 0 50px 30px 10px rgba(0,0,0,0.8);
  	opacity: 1;
  	transition: opacity 2s ease-in-out;
}

#partner div:hover::after{
	opacity:1;
	
}

/*#partner span:hover::after{
	opacity: 1.0;
}*/

@media all and (min-width: 4500px){
	.meni{
		font-size: 0.5vw;
	}
	#projekat img{
	width: 100%;
	position: relative;
	height: 400px;
}
}

@media all and (min-width: 2500px) and (max-width: 4500px){
	.meni{
		font-size: 1vw;
	}
	#projekat img{
	width: 100%;
	position: relative;
	height: 300px;
}
}


@media all and (min-width: 480px) and (max-width: 880px){
	h2 span{
		color: white; 
	   	font: bold;
	   	font-size: 1.6em; 
	   	letter-spacing: -1px; 
	   	background: rgb(0, 0, 0);
	   	background: rgba(0, 0, 0, 0.7);
	   	box-shadow: 10px 0 0 rgba(0, 0, 0, 0.7), -10px 0 0 rgba(0, 0, 0, 0.7);
	}
	h2 { 
		/*font-size: 2.2em;*/
		position: absolute; 
		top: 4%; 
		width: 70%;
		left: 6%;
		text-align: left;

	}
	h3 { 
	   /*font-size: 2.2em;*/
	   position: absolute; 
	   top: 4%; 
	   width: 70%;
	   left: 12%;
	   text-align: left;

	}

	h3 span { 
	   color: white; 
	   font: bold;
	   font-size: 1.4em; 
	   letter-spacing: -1px; 
	   background: rgb(0, 0, 0);
	   background: rgba(0, 0, 0, 0.7);
	   box-shadow: 10px 0 0 rgba(0, 0, 0, 0.7), -10px 0 0 rgba(0, 0, 0, 0.7);

	   /*padding: 10px; */
	}
	#projekat img{
		width: 100%;
		position: relative;
		height: 160px;
	}
}

@media all and (min-width: 480px) and (max-width: 680px){
	h2 span{
		color: white; 
	   	font: bold;
	   	font-size: 1.4em; 
	   	letter-spacing: -1px; 
	   	background: rgb(0, 0, 0);
	   	background: rgba(0, 0, 0, 0.7);
	   	box-shadow: 10px 0 0 rgba(0, 0, 0, 0.7), -10px 0 0 rgba(0, 0, 0, 0.7);
	}
	h2 { 
		/*font-size: 2.2em;*/
		position: absolute; 
		top: 4%; 
		width: 70%;
		left: 6%;
		text-align: left;

	}
	h3 { 
	   /*font-size: 2.2em;*/
	   position: absolute; 
	   top: 4%; 
	   width: 70%;
	   left: 14%;
	   text-align: left;

	}

	h3 span { 
	   color: white; 
	   font: bold;
	   font-size: 1.2em; 
	   letter-spacing: -1px; 
	   background: rgb(0, 0, 0);
	   background: rgba(0, 0, 0, 0.7);
	   box-shadow: 8px 0 0 rgba(0, 0, 0, 0.7), -8px 0 0 rgba(0, 0, 0, 0.7);

	   /*padding: 10px; */
	}
	#projekat img{
		width: 100%;
		position: relative;
		height: 120px;
	}
}

@media all and (max-width: 480px){
	.meni{
		display: block;
		width: 50%;
		padding-bottom: 4%;
		padding-left: 9%;
		font-size: 3vw;
	}
	h2 span{
		color: white; 
	   	font: bold;
	   	font-size: 1.3em; 
	   	letter-spacing: -1px; 
	   	background: rgb(0, 0, 0);
	   	background: rgba(0, 0, 0, 0.7);
	   	box-shadow: 10px 0 0 rgba(0, 0, 0, 0.7), -10px 0 0 rgba(0, 0, 0, 0.7);
	}
	h2 { 
		/*font-size: 2.2em;*/
		position: absolute; 
		top: 4%; 
		width: 70%;
		left: 8%;
		text-align: left;

	}
	h3 { 
	   /*font-size: 2.2em;*/
	   position: absolute; 
	   top: 4%; 
	   width: 70%;
	   left: 12%;
	   text-align: left;

	}

	h3 span { 
	   color: white; 
	   font: bold;
	   font-size: 1.0em; 
	   letter-spacing: -1px; 
	   background: rgb(0, 0, 0);
	   background: rgba(0, 0, 0, 0.7);
	   box-shadow: 5px 0 0 rgba(0, 0, 0, 0.7), -5px 0 0 rgba(0, 0, 0, 0.7);

	   /*padding: 10px; */
	}
	.kolona.dva{
		width: 33.33333%;
	}
	.kolona.deset{
		width: 66.66666%;
	}
	.kolona.osam{
		width: 99.99999%;
	}
	#leftbar{
		display: none;
	}
	#rightbar{
		display: none;
	}
	#projekat img{
		width: 100%;
		position: relative;
		height: 100px;
	}
}

/*@media all and (min-width:1800px){
	.meni{
		/*padding-bottom: 15px;
		padding-top:10px;*/
		/*font-size: 2.2em;
		height: 2.7em;
	}
}

/*@media all and (min-width:1550px) and (max-width: 1800px){
	.meni{
		/*padding-bottom: 15px;
		padding-top:5px;*/
		/*font-size: 2.2em;
		height: 2.8em;
	}
}


@media all and (min-width:1250px) and (max-width: 1550px){
	.meni{
		/*padding-bottom: 15px;
		padding-top:5px;*/
		/*font-size: 1.8em;
		height: 2.4em;
	}
}

@media all and (max-width: 1250px){	
	.meni{
		/*padding-bottom: 15px;*/
		/*font-size: 1.8em;
		height: 2.4em;
	}
}

@media all and (max-width: 1150px){
	.meni{
		/*padding-bottom: 5px;*/
		/*font-size: 1.6em;
		height: 2.2em;
	}
}

@media all and (max-width: 950px){
	.meni{
		/*padding-bottom: 10px;*/
		/*font-size:1.4em;
	}
}

@media all and (max-width: 850px){
	.meni{
		font-size:1.2em;
	}
}

@media all and (max-width: 780px){
	.meni{
		display: block;
		font-size:0.9em;
		/*width:25%;*/
		/*height: 2.2em;
	}

}

@media all and (max-width: 620px){
	.meni{
		display: block;
		font-size:0.7em;
		/*width:25%;*/
		/*height: 2.6em;
	}
}

@media all and (max-width: 500px){
	.meni{
		display: block;
		font-size:0.6em;
		/*width:25%;*/
		
		/*height: 3.0em;
	}
}*/